[submodule "SoonMoom/vendor/spdlog"]
	path = SoonMoom/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "SoonMoom/vendor/GLFW"]
	path = SoonMoom/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "SoonMoom/vendor/glm"]
	path = SoonMoom/vendor/glm
	url = https://github.com/g-truc/glm
